nav {
    display: flex;
    float: right;
    gap: 0.625rem;

}
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 12.5rem;
    align-items: center;
    justify-items: center;
    margin-left: 12.5rem;
    
    
    
}
.mainele {
    display: flex;
    gap: 0.625rem;
    
}

.leftfoot {
    display: flex;
    gap: 1.25rem;
    color:#5f6368;
    font-family: Arial, sans-serif;
}
.rightfoot {
    display: flex;
    gap: 1.25rem;
    color:#5f6368;
    font-family: Arial, sans-serif;
    
}

input {
    border-radius: 1.25rem;
    border: 0.125rem solid #dfe1e5;
    width: 28.125rem;
    height: 1.5625rem;
    
}
.mainele1 {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    margin-top: 0.625rem;
    padding: 0 0.9375rem;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-size: x-small;
    font-weight: 100;
    color:#5f6368;
    font-family: Arial, sans-serif;
}
.mainele2 {
    background-color: #f8f9fa;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0 15px;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-size: x-small;
    font-weight: 100;
    color:#5f6368;
    font-family: Arial, sans-serif;
}

.google {           
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    
}
.g1 {
    color: blue;
    font-weight: 700;
    font-size: 90px;
    
}
.g2 {
    color: blue;
    font-size: xx-large;
    font-size: 90px;
}

.o1 {
    color: red;
    font-size: xx-large;
    font-size: 90px;
}

.o2 {
    color: yellow;
    font-size: xx-large;
    font-size: 90px;
}
.l1 {
    color: green;
    font-size: xx-large;
    font-size: 90px;
}
.e1 {
    color: red;
    font-size: xx-large;
    font-size: 90px;
}

.texth {
    font-size: x-small;
    
    color:#5f6368;
    font-family: Arial, sans-serif;
}

.texth3 {
    font-size: x-small;
    color: blue;
    
    font-family: Arial, sans-serif;
}

.texth2 {
    font-size: small;
    font-weight: 300;
    color:#5f6368;
    font-family: Arial, sans-serif;
}

link {
    color: black;
}

.topfoot {
    background-color: #e8eaed;
    padding: 3px 30px;               
    border-bottom: 1px solid #dadce0;
    color:#5f6368;
    font-family: Arial, sans-serif;
    
}
.botfoot {
    display: flex;
    flex-direction: row;
    background-color: #e8eaed;
    padding: 3px 30px;               
    border-bottom: 1px solid #dadce0;
    justify-content: space-between;
}

footer {
    position: fixed; 
    bottom: 0;       
    left: 0;         
    width: 100%;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    border: 2px solid #dfe1e5;
    width: 600px;
    height: 25px;
    padding: 10px;
    
    
}

.search1{
    display: flex;
}

.search2 {
    display: flex;
    gap: 20px;
    padding-right: 15px;
}

.purple-circle {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-color: purple;
    border-radius: 50%;
}

.cur {
    cursor: text;
    width: 100%;
    height: 100%;
}

.phasa {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

@media screen and (max-width: 480px) {
    .searchbar {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    border: 2px solid #dfe1e5;
    width: 300px;
    height: 25px;
    padding: 10px;
    margin-right: 150px;
    
    
    
}

.google {           
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    margin-right: 150px;
}

.mainele {
    display: flex;
    gap: 0.625rem;
    margin-right: 150px;
    
    
}

.phasa {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-right: 150px;
    padding: 0 50px;

}
    
.leftfoot {
    display: flex;
    gap: 3px;
    color:#5f6368;
    font-family: Arial, sans-serif;
    font-size: xx-small;
}
.rightfoot {
    display: flex;
    gap: 3px;
    color:#5f6368;
    font-family: Arial, sans-serif;
    font-size: xx-small;
    
}

.topfoot {
    background-color: #e8eaed;
    padding: 3px 30px;               
    border-bottom: 1px solid #dadce0;
    color:#5f6368;
    font-family: Arial, sans-serif;
    font-size: xx-small;
    
}

.mainele1 {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    margin-top: 0.625rem;
    padding: 0 50px;
    height: 30px;
    font-size: xx-small;
    display: flex;
    align-items: center;
    font-size: x-small;
    font-weight: 100;
    color:#5f6368;
    font-family: Arial, sans-serif;
}
.mainele2 {
    background-color: #f8f9fa;
    border-radius: 4px;
    
    margin-top: 10px;
    padding: 0 50px;
    height: 30px;
    
    display: flex;
    align-items: center;
    font-size: xx-small;
    font-weight: 100;
    color:#5f6368;
    font-family: Arial, sans-serif;
}

}

@media screen and (max-width: 768px) {
    .searchbar {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    border: 2px solid #dfe1e5;
    width: 300px;
    height: 25px;
    padding: 10px;
    margin-right: 150px;
    
    
    
}

.google {           
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    margin-right: 150px;
}

.mainele {
    display: flex;
    gap: 0.625rem;
    margin-right: 150px;
    
    
}

.phasa {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-right: 150px;
    padding: 0 50px;

}
    
.leftfoot {
    display: flex;
    gap: 3px;
    color:#5f6368;
    font-family: Arial, sans-serif;
    font-size: xx-small;
}
.rightfoot {
    display: flex;
    gap: 3px;
    color:#5f6368;
    font-family: Arial, sans-serif;
    font-size: xx-small;
    
}

.topfoot {
    background-color: #e8eaed;
    padding: 3px 30px;               
    border-bottom: 1px solid #dadce0;
    color:#5f6368;
    font-family: Arial, sans-serif;
    font-size: xx-small;
    
}

.mainele1 {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    margin-top: 0.625rem;
    padding: 0 50px;
    height: 30px;
    font-size: xx-small;
    display: flex;
    align-items: center;
    font-size: x-small;
    font-weight: 100;
    color:#5f6368;
    font-family: Arial, sans-serif;
}
.mainele2 {
    background-color: #f8f9fa;
    border-radius: 4px;
    
    margin-top: 10px;
    padding: 0 50px;
    height: 30px;
    
    display: flex;
    align-items: center;
    font-size: xx-small;
    font-weight: 100;
    color:#5f6368;
    font-family: Arial, sans-serif;
}

}